# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
build-NetEaseMusic-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/
build-NetEaseMusic-Desktop_Qt_5_14_0_MinGW_64_bit-Debug/

