QWdiget#bottomWidgetContainer
{
    background-color:#222222;
    border-top: 1px solid rgba(ff, ff, ff, ff);
}

QWidget#topWidgetContainer
{
     /* background-image:url(":/res/image/top_background_black.png");*/
      padding:0px;
      margin: 0px;
      font-family:Microsoft YaHei;
      border-image:url(":/res/image/top_background_black.png");

}


QLabel{
        color:#ffffff;
}

QPushButton#btnPreSong{
        width: 32px;
        height:32px;
        border-radius: 17px;
        border: 1px;
        padding:0px;
        margin: 0px;
        color: #F0F0F0;
        background-color:#222222;
        border-style:solid;
        border-color:#666666;
        background-image:url(":/res/image/btn_pre_song.png");
        background-repeat:no-repeat;
}


QPushButton#btnPreSong:hover{
        width: 32px;
        height:32px;
        border-radius: 17px;
        border: 1px;
        padding:0px;
        margin: 0px;
        color: #F0F0F0;
        background-color:#222222;
        border-style:solid;
        border-color:#888888;
        background-image:url(":/res/image/btn_pre_song.png");
        background-repeat:no-repeat;
}

QPushButton#btnPlayOrPause{
        width: 40px;
        height:40px;
        border-radius: 21px;
        border: 1px;
        padding:0px;
        margin: 0px;
        color: #F0F0F0;
        background-color:#222222;
        border-style:solid;
        border-color:#666666;
        background-image:url(":/res/image/btn_play.png");
        background-repeat:no-repeat;
}


QPushButton#btnPlayOrPause:hover{
        width: 40px;
        height:40px;
        border-radius: 21px;
        border: 1px;
        padding:0px;
        margin: 0px;
        color: #F0F0F0;
        background-color:#222222;
        border-style:solid;
        border-color:#888888;
        background-image:url(":/res/image/btn_play.png");
        background-repeat:no-repeat;
}

QPushButton#btnNextSong{
        width: 32px;
        height:32px;
        border-radius: 17px;
        border: 1px;
        padding:0px;
        margin: 0px;
        color: #F0F0F0;
        background-color:#222222;
        border-style:solid;
        border-color:#666666;
        background-image:url(":/res/image/btn_next_song.png");
        background-repeat:no-repeat;
}

QPushButton#btnNextSong:hover{
        width: 32px;
        height:32px;
        border-radius: 17px;
        border: 1px;
        padding:0px;
        margin: 0px;
        color: #F0F0F0;
        background-color:#222222;
        border-style:solid;
        border-color:#888888;
        background-image:url(":/res/image/btn_next_song.png");
        background-repeat:no-repeat;
}



QPushButton#btnIcon
{
        border: 0px; border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px; margin: 0px;
        width: 120px; height:30px;
        background-image:url(":/res/image/logo.png");
        background-repeat:no-repeat;
}

QPushButton#btnAlbumCover
{
        border: 0px;
        border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 60px;
        height:60px;
        background-image:url(":/res/image/AlbumCover1.jpg");
        background-repeat:no-repeat;
}

QPushButton#btnSkinBox{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_skin_normal_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnSkinBox:hover{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_skin_press_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnSetting{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_setting_normal_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnSetting:hover{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_setting_press_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnMini{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_mini_normal_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnMini:hover{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_mini_press_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnMax{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_max_normal_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnMax:hover{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_max_press_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnRestore{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_restore_normal_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnRestore:hover{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_restore_press_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnClose{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_close_normal_white.png");
        background-repeat:no-repeat;
}

QPushButton#btnClose:hover{
        border: 0px;border-radius:0px;
        background-color:rgba(0, 0, 0, 0);
        padding: 0px;
        margin: 0px;
        width: 22px;
        height:22px;
        background-image:url(":/res/image/btn_close_press_white.png");
        background-repeat:no-repeat;
}




